<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Upload</h2>

  <form action="/upload" method="post">

    <input type="text" name="name" placeholder="name">
    <input type="text" name="position" placeholder="position">
     <input type="text" name="imageUrl" placeholder="imageUrl">
      <textarea name="description" placeholder="Description"></textarea>

    <input type="submit" name="submit" placeholder="Submit">

  </form>


</body>
</html>